<!-- palavra.component.html -->

<div id="searchContainer">
    <label for="moto" class="main-motoLogo">MOTO ACADEMY - DICIONÁRIO</label>
    <label for="word"></label>
    <input type="text" id="word" [(ngModel)]="palavra" placeholder="Buscar no dicionário">
    <button (click)="searchWord()">🔎 Pesquisar</button>
    <button (click)="speakWord()">🔊 Falar</button>
</div>

<div id="resultContainer" class="result">
    <h2>Palavra: {{ result?.word }}</h2>
    <div class="property">
        <strong>Significado1: </strong><span>{{ result?.meaning }}</span>
    </div>
    <br>
    <div class="property">
        <strong>Informações Adicionais: </strong><span>{{ result?.additionalInfo }}</span>
    </div>
    <br>
    <div class="property">
        <strong>Frases: </strong><span>{{ result?.phrases }}</span>
    </div>
</div>
